.no-space {
  letter-spacing: -0.5rem;
}

.landing-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1rem;
}

.landing-page p {
  line-height: 1.5rem;
}

.landing-intro {
  width: 100%;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 55fr 45fr;
  gap: 2.5rem;
  align-items: center;
}

.landing-intro__text>* {
  text-align: left;
}

.landing-intro__title {
  margin: 0px;
  font-size: 3rem;
}

.landing-intro__image {
  width: 100%;
  max-height: 100%;
  aspect-ratio: 16/10;
}

.landing-about {
  text-align: center;
  width: 60%;
  min-width: 400px;
  margin: auto;
}

.landing-about>h2 {
  margin: 1rem;
  font-size: 2rem;
}

.landing-about__text {
  font-size: 2rem;
}

.landing-nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 4%;
}

.landing-nav-card {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-nav-card__title {
  text-align: center;
  font-size: 1.5rem;
  color: var(--blue);
}

.landing-nav-card__about {
  text-align: center;
  margin: 0px;
}

.disabled-link {
  pointer-events: none;
  color: grey;
}

.landing-nav-card__title:hover {
  text-decoration: 2px solid underline;
  cursor: pointer;
}

.landing-nav-card__image {
  width: 150px;
  aspect-ratio: 1;
}

.landing-join {
  text-align: center;
}