.confirm-delete-modal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  max-width: 450px;
}

.confirm-delete-modal h2 {
  margin: 0px;
  font-size: 2rem;
  text-align: center;
}

.confirm-delete-modal button {
  font-size: 1.5rem;
}

.confirm-delete-button:hover {
  border-color: maroon;
  background-color: maroon;
  color: white;
}

.deleted-name {
  font-style: italic;
  text-decoration: underline;
}