@font-face {
  font-family: "BestChristmas";
  src: url("/public/Best_Christmas.otf");
}

@font-face {
  font-family: "Montserrat";
  src: url("/public/Montserrat.ttf");
}

* {
  font-family: "Montserrat";
  --red: #6F1511;
  --blue: #3a879b;
  --yellow: #ffbc42;
  --purple: #bfacc8;
  --dark-purple: #48414b;
  --light-purple: #e2e1e9;
  --gray: #8D99AE;
  --white: #EDF2F4;
}

*:not(button>*) {
  color: var(--dark-purple);
}

html {
  overflow-y: scroll;
  background-color: var(--light-purple);
}

.page-wrapper {
  margin: auto;
  max-width: 1024px;
  padding: 0px 0.5rem;
}

#modal-content {
  border-radius: 1rem;
  border: 2px solid black;
  overflow: hidden;
}

.modal-form {
  background-color: var(--light-purple);
  width: 300px;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.modal-form>h1 {
  text-align: center;
  margin: 1rem 0px;
}

button,
button:hover {
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
}

button[disabled] {
  color: var(--gray) !important;
  border-color: var(--gray) !important;
  pointer-events: none;
}

button>span {
  display: inline-block;
  width: 100%;
}

.error {
  color: var(--red);
  font-size: 1rem;
  font-weight: bold;
  margin: 0px;
  margin-top: 0.4rem;
}

.skew {
  transform: skew(-20deg);
  border: 1px solid black;
}

.skew>* {
  display: inline-block;
  transform: skew(20deg);
}

.skew-left {
  transform: skew(20deg);
}

.skew-left>* {
  display: inline-block;
  transform: skew(-20deg);
}

.delete {
  border: 2px solid var(--red);
  color: var(--red);
  background-color: var(--light-purple);
}

.delete:hover {
  border: 2px solid var(--red);
  background-color: var(--red);
  color: var(--white);
}

button.round {
  border-radius: 3rem;
}

button.round:hover {
  border-radius: 3rem;
}

.blue {
  color: var(--blue);
  border: 2px solid var(--blue);
  background-color: var(--light-purple);
}

.blue:hover {
  border: 2px solid var(--blue);
  background-color: var(--blue);
  color: var(--white);
}

.blue:hover>* {
  color: var(--white);
}

.purple {
  background-color: var(--light-purple);
  border: 2px solid var(--dark-purple);
  color: var(--dark-purple);
}

.purple:hover {
  border: 2px solid var(--dark-purple);
  background-color: var(--purple);
}

input {
  width: 100%;
  border: 2px solid black;
  font-size: 1.5rem;
}

p {
  overflow-wrap: break-word;
}

i {
  color: var(--dark-purple);
  font-size: 1.5rem;
}

.browsing-header {
  padding: 1rem;
  border: 1px solid black;
  background-color: var(--purple);
  color: var(--dark-purple);
}

.detail-row {
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  align-items: center;
}