/* TODO Add site wide styles */

@font-face {
  font-family: "BestChristmas";
  src: url("/public/Best_Christmas.otf");
}

@font-face {
  font-family: "Montserrat";
  src: url("/public/Montserrat.ttf");
}

* {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif */
  font-family: "Montserrat";
  --red: #6F1511;
  --blue: #3891a6;
  --yellow: #ffbc42;
  --dull-yellow: #bfab25;
  --purple: #bfacc8;
  --dark-purple: #605664;
  --light-purple: #e2e1e9;
  --gray: #8D99AE;
  --white: #EDF2F4;
}

html {
  overflow-y: scroll;
  background-color: var(--light-purple);
}

.page-wrapper {
  margin: auto;
  max-width: 1024px;
  padding: 0px 0.5rem;
}

#modal-content {
  border-radius: 0.5rem;
  overflow: hidden;
}

.modal-form {
  background-color: var(--light-purple);
  width: 300px;
  padding: 1rem 3rem;
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.modal-form>h1 {
  text-align: center;
  margin: 1rem 0px;
}

button,
button:hover {
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background-color: var(--light-purple);
  color: var(--blue);
}

button[disabled] {
  color: var(--gray);
  pointer-events: none;
}

button>span {
  display: inline-block;
  width: 100%;
}

button>span:hover {
  border: none;
  text-decoration: 2px solid underline;
}

.error {
  color: var(--red);
  font-size: 1rem;
  font-weight: bold;
  margin: 0px;
}

button.skew {
  transform: skew(-20deg);
  border: 1px solid black;
}

button.skew>span {
  display: inline-block;
  transform: skew(20deg);
  color: var(--dark-purple);
}

button.skew-left {
  transform: skew(20deg);
}

button.skew-left>span {
  transform: skew(-20deg);
}

button.skew:hover {
  border: 1px solid black;
  background-color: var(--purple);
  color: var(--dark-purple);
}

button.skew>span:hover {
  text-decoration: none;
}

button.delete {
  border-color: var(--red);
  border-width: 2px;
}

button.delete>span {
  color: var(--red);
}

button.delete:hover {
  border-color: var(--red);
  border-width: 2px;
  background-color: var(--red);
}

button.delete:hover>span {
  color: var(--white);
}

input {
  width: 100%;
  border: 2px solid black;
  font-size: 1.5rem;
}

p {
  overflow-wrap: break-word;
}