/* TODO Add site wide styles */

@font-face {
  font-family: "BestChristmas";
  src: url("/public/Best_Christmas.otf");
}

@font-face {
  font-family: "Montserrat";
  src: url("/public/Montserrat.ttf");
}

* {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif */
  font-family: "Montserrat"
}

html {
  overflow-y: scroll;
}

.page-wrapper {
  border: 1px solid blue;
  margin: auto;
  max-width: 1024px;
  padding: 0px 0.5rem;
}

#modal-content {
  border-radius: 0.5rem;
  overflow: hidden;
}

.modal-form {
  width: 300px;
  padding: 1rem 3rem;
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.modal-form>h1 {
  text-align: center;
  margin: 1rem 0px;
}

.error {
  color: maroon;
  font-size: 1rem;
  font-weight: bold;
  margin: 0px;
}

button {
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid #CCC;
  border-radius: 3rem;
}

button:hover {
  background-color: #AAA;
}

input {
  width: 100%;
  border: 2px solid black;
  font-size: 1.5rem;
}