.return-nav {
  margin: 1rem 0px;
}

.event-details__name {
  font-size: 2rem;
  margin: 0px;
}

.event-details__host {
  margin: 0px;
}

.event-details-header {
  border-bottom: 3px solid black;
  display: grid;
  grid-template-areas:
    "image group-info"
    "image event-info"
    "image actions"
  ;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 1rem;
  font-size: 1rem;
  padding-bottom: 1.5rem;
  margin: 1.5rem 0px;
}

.event-details-header * {
  margin: 0px;
}

.event-details__image {
  grid-area: image;
  background-color: var(--blue);
  width: 100%;
  height: 100%;
  aspect-ratio: 16/10;
  align-self: center;
}

.event-details__group-info {
  background-color: var(--purple);
  grid-area: group-info;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "image name"
    "image privacy"
  ;
  grid-template-columns: 1fr 2fr;
  height: fit-content;
  padding: 1rem;
}

.event-details__group-image {
  grid-area: image;
  border: 1px solid black;
  width: 100%;
  aspect-ratio: 16/10;
}

.event-details__group-name {
  font-size: 1.5rem;
}

.event-details__event-info {
  grid-area: event-info;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: fit-content;
  border: 0.5rem solid var(--purple);
}

.event-details__event-info>*:not(:last-child) {
  margin-bottom: 1rem;
}

.event-details__date {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem 1rem;
}

.event-details__actions {
  grid-area: actions;
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 0.8rem;
}

.delete-event:hover {
  border-color: maroon;
  background-color: maroon;
  color: white;
}